{% include "header.html" %}

<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta content="" name="description">
<meta content="" name="keywords">
<meta content="" name="team">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/vegas.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">

<!-- MAIN CSS -->
<link href="static/css/templatemo-style.css" rel="stylesheet">
<body>

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- HOME -->
<section id="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="home-info">
                    <h1>Welcome!<br>Love to track your day?<br>Register Now or Log In to record your schedule.</h1>
                    <div class="btn-toolbar">
                        <a class="btn btn-light btn-lg" href="{{ url_for('register') }}" type="button">Register</a>
                        <a class="btn btn-light btn-lg" href="{{ url_for('login') }}" type="button">Log In</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/vegas.min.js"></script>
<script src="static/js/countdown.js"></script>
<script src="static/js/init.js"></script>
<script src="static/js/custom.js"></script>

</body>